<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
 
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>saveUser</servlet-name>
  	<display-name>saveUser</display-name>
  	<description></description>
  	<servlet-class>com.servelets.saveUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>checkUser</servlet-name>
  	<display-name>checkUser</display-name>
  	<description></description>
  	<servlet-class>com.servelets.checkUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userAnswer</servlet-name>
  	<display-name>userAnswer</display-name>
  	<description></description>
  	<servlet-class>com.servelets.userAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>saveUser</servlet-name>
  	<url-pattern>/saveUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>checkUser</servlet-name>
  	<url-pattern>/checkUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userAnswer</servlet-name>
  	<url-pattern>/userAnswer</url-pattern>
  </servlet-mapping>
</web-app>
